<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
    <div class="container mx-auto">
        <h1 class="text-slate-200 text-3xl font-bold mt-4">{{ header }}</h1>
        <div class="flex flex-col items-center m-8">
            <div class="text-slate-200 text-3xl font-bold mt-4">{{ subheader }}</div>
            <div id="btnContainer" class="py-8 flex flex-col gap-2 h-auto"></div>
        </div>
    </div>
    <script type="text/javascript">var API_URL = "{{ url_for('index', _external=True) }}";</script>
    <script src="{{ url_for('static', filename='js/sessions.js') }}"></script>
</body>
</html>